.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    justify-content: center;
    padding: 1px;
    margin-bottom: 40px;
    background-color: lightgray;
  }
  section{
    display: block;
    margin-left: 100px;  
    margin-right: auto;
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
 .logo{
     width: 10px;
     height: auto;
 }
  .container {
    padding: 10px;
  }

nav{
    justify-content:end;
}
body {
    font-family: 'Zen Antique', serif;
}